<!--
 * Citation for the wands.hbs code structure.
 *
 * Date: 12/8/2024
 *
 * Adapted from CS 340 nodejs-starter-app, step 8, index.hbs
 * Tables and text changes were made to adapt the website's theme
 *
 * Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */ -->
<link rel="stylesheet" href="css/styles.css">

 <h1>Wands</h1>

{{!-- Create a table --}}
<table id ="wands-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Actions</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.wandID}}">
            <td>{{this.wandID}}</td>
            <td>{{this.length}}</td>
            <td>{{this.price}}</td>
            <td>{{this.core}}</td>
            <td>{{this.wood}}</td>
            <td>{{this.totalWandQuantity}}</td>
            <td><button onclick="deleteWand({{this.wandID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_wand.js"></script>


<div class="button-container">
    <button id="show-add">Add a Wand</button>
    <button id="show-update">Update a Wand</button>
</div>


<div id="add-overlay" class="overlay" style="display: none;">
<div class="overlay-content">
<h2>Add a Wand</h2>
<p>To add a new wand, please enter the information below and click 'Submit'!</p>
<form id="add-wand-form-ajax">
    <label for="input-length">Length: </label>
    <input type="number" id="input-length" name="input-length" step="0.5" required>

    <label for="input-price">Price: </label>
    <input type="number" id="input-price" name="input-price" required>

    <label for="input-core">Core: </label>
    <select id="input-core" name="input-core" required>
        <option value="test">Select a Core Type</option>
        {{#each core}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <label for="input-wood">Wood: </label>
    <input type="text" id="input-wood" name="input-wood" required>

    <label for="input-totalWandQuantity">Total Wand Quantity: </label>
    <input type="number" id="input-totalWandQuantity" name="input-totalWandQuantity" required>

    <div class="button-container">
    <button type="submit">Submit</button>
    <button type="button" id="close-add-overlay">Cancel</button>
    </div>
</form>
</div>
</div>

<script src="./js/add_wand.js"></script>

<div id="update-overlay" class="overlay" style="display: none;">
    <div class="overlay-content">
        <h2>Update a Wand</h2>
        <p>Edit a wand and click 'Submit'!</p>
        <form id="update-wand-form-ajax">
            <label for="update-wandID">ID: </label>
            <select id="update-wandID" name="wandID" required>
                <option value="">Select a Wand ID</option>
                {{#each data}}
                    <option value="{{this.wandID}}">{{this.wandID}}</option>
                {{/each}}
            </select>

            <label for="update-length">Length: </label>
            <input type="number" id="update-length" name="length" step="0.5">

            <label for="update-price">Price: </label>
            <input type="number" id="update-price" name="price">

            <label for="update-core">Core: </label>
            <select id="update-core" name="core" >
                <option value="">Select a Core Type</option>
                {{#each core}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <label for="update-wood">Wood: </label>
            <input type="text" id="update-wood" name="wood">

            <label for="update-totalWandQuantity">Total Wand Quantity: </label>
            <input type="number" id="update-totalWandQuantity" name="totalWandQuantity">

            <div class="button-container">
            <button type="submit">Submit</button>
            <button type="button" id="close-update-overlay">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/update_wand.js"></script>

<script src="./js/add.js"></script>
<script src="./js/edit.js"></script>
